
/* SELECTOR UNIVERSAL */
/* * {
    color: brown;
}  */

/* SELECTOR DE ETIQUETA */ 
/* p {
  color: red;
} */

/* SELECTOR DE CLASE */ 
/* .uno {
    color: green;
}
.dos {
    color: blue;
} */
/* SELECTOR DE ID */
/* #unico {
    color: yellow;
} */


/******* SELECTORES COMBINADOS *******/

/*** SELECTOR DE HIJO ***/
/* section > h2 {
    color: red;
} */

/*** SELECTOR DE DESCENDIENTES ***/
/* section h2 {
    color: red;
} */

/*** SELECTOR DE HERMANOS ***/ /* virgulilla */ 
/* h2 ~ p { 
    color: red;
} */

/*** SELECTOR DE HERMANO ADYASCENTE ***/ 
/* h2 + p {
    color: red;
} */

/*** SELECTOR DE ATRIBUTO ***/
/* input[class="pepe"]{
    color: red;
}  */


/* 
    PARA INVESTIGAR 
    
    Selector de columnas -> a||b
*/
